.fighter-preview___root {
  display: flex;
  flex-direction: row;
  flex-basis: 250px;
  height: 200px;
}

.fighter-preview___right {
  align-items: flex-start;
  justify-content: flex-start;
}

.fighter-preview___left {
  align-items: flex-start;
  justify-content: flex-end;
}

.fighter-preview___root .wrap {
  background-color: #ffdfa7;
  border: 5px solid #ca9650;
}
